.lead__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 1005px;
    color: #fff;
    text-decoration: none;
    box-sizing: border-box;
}

@media screen and (max-width: 1124px) {
    .lead__item {
        min-height: 962px;
        min-width: 928px;
    }
}

@media screen and (max-width: 984px) {
        .lead__item {
            min-height: 862px;
            min-width: 768px;
            
        }
    }

@media screen and (max-width: 568px) {
        .lead__item {
            min-height: 406px;
            min-width: 320px;
        }
    }