.places {  
    padding: 0px;
    font-family: 'Inter', 'Arial', 'sans-serif';
    color: #FFFFFF;
    box-sizing: border-box;
    max-width: 984px;
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* grid-template-rows: repeat(5, 1fr); */
    grid-row-gap: 80px;
}


@media screen and (max-width: 1124px){

    .places {
        max-width: 928px;
    }
}

@media screen and (max-width: 984px) {

    .places {
        max-width: 720px;
        grid-row-gap: 73px;
    }
}

@media screen and (max-width: 568px) {

    .places {
        max-width: 320px;
        max-height: 100%;
        grid-row-gap: 50px;
        
    }
}