.intro__list {
width: 690px;
height: 90px;
margin: 33px 0px 0px;
padding: 0px;
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 18px;
list-style-type: none;

}

@media screen and (max-width: 568px){

    .intro__list {
        width: 288px;
        height: 90px;
    }

}