.lead {
    font-family: 'Inter', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 984px;
    min-width: 320;
    width: 100%;
    margin: 0px auto 0px;
    color: #fff;
    text-decoration: none;
    box-sizing: border-box;
}

@media screen and (max-width: 1124px) {
    .lead {
        max-width: 928px;
    }
}

@media screen and (max-width: 984px) {
        .lead {
            max-width: 768px;
            
            
        }
    }

@media screen and (max-width: 744px) {
        .lead {
            max-width: 320px;
        }
    }