.footer__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1184px;
    /*max-height: 100vh;*/
    margin: 0px 48px 0px;
    padding: 0;
    }
    

    @media screen and (max-width: 1124px) {
        .footer__info {
            max-width: 928px;
        }
    }

    @media screen and (max-width: 984px) {
        .footer__info {
            max-width: 720px;
            margin: 0px 24px 0px;
        }
    }

    @media screen and (max-width: 744px) {
        .footer__info {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 48px;
            align-items: start;
            justify-items: start;
            margin: 0px 16px 0px;
            max-width: 320px;
            max-height: 310px;
        }
    }