.header {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
width: 1184px;
height: 52px;
margin-top: 28px;
margin-left: auto;
margin-right: auto;
margin-bottom: 0px;
box-sizing: border-box;
}


@media screen and (max-width: 1120px) {
    .header {
        width: 928px; 
    }
 }
 
 @media screen and (max-width: 884px) {
    .header {
       width: 720px;
    }
 }
 
 @media screen and (max-width: 468px) {
    .header {
       width: 288px;
       margin-top: 16px;
    }
 }