.header {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
max-width: 1184px;
height: 52px;
margin: 0px 48px 0px;
padding: 0px;

box-sizing: content-box;
border-width: 50px;
}


@media screen and (max-width: 1120px) {
    .header {
      max-width: 928px;
    }
 }
 
 @media screen and (max-width: 780px) {
    .header {
      max-width: 720px;
      margin: 0px 24px 0px;
    }
 }
 
 @media screen and (max-width: 340px) {
    .header {
      max-width: 288px;
      margin: 0px 16px 0px;
    }
 }