.header {

display: flex;
flex-direction: row;
justify-content: space-between;
width: 1184px;
height: 52px;
margin: 28px auto 0px;


}

@media screen and (max-width: 1120){
    .header {
    width: 928px;
    
    
    box-sizing: border-box;
  
}
    
}

@media screen and (max-width: 850px){
    .header {

    width: 720px;
    
    
    box-sizing: border-box;
  
}
    
}

@media screen and (max-width: 420px){
    .header {

    width: 288px;
    height: 42px;
    margin: 16px auto 0px;
    box-sizing: border-box;
  
}
    
}