.footer__links {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    list-style-type: none;
    }

    @media screen and (max-width: 320px){

        .footer__links {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: auto;
            margin-left: 0px;
            margin-top: 0px;
            margin-bottom: 0px;
            padding-left: 0px;
            list-style-type: none;
            width: 320px;
            height: 310px;

            }
    }