.footer__links {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    margin: 0;
    padding-left: 0px;
    list-style-type: none;
    }


    @media screen and (max-width: 744px) {
        .footer__links {
            display: grid;
            grid-row-gap: 32px;
            
        }
    }