.lead__image {
    /* min-height: 615px; */
    width: 100%;
    max-width: 984px;
    margin: 0px;
    padding: 0px;
}

@media screen and (max-width: 1124px) {
   .lead__image {
       min-height: 580px;
       max-width: 928px;
   }
}

@media screen and (max-width: 984px) {
   .lead__image {
      min-height: 480px;
      max-width: 768px;
   }
}

/* перелом 544*/

@media screen and (max-width: 771px) {
   .lead__image {
      max-width: 320px;
      min-height: 200px;
      margin-top: 20px;
   }
}