.header__langs {
    font-family: "Inter", "Arial", "sans-serif";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    /* identical to box height, or 117% */
    text-decoration: none;

    color: #ffffff;
}

/* .header__langs:hover {
    text-decoration: underline;
    
} */
/* .header__langs:active {
    text-decoration: underline; 
} */
/* .header__langs:focus {
    text-decoration: underline; 
} */




@media screen and (max-width: 320px) {
    .header__langs {
        font-size: 18px;
        line-height: 20px;
    }
}
