.place__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    
}

@media screen and (max-width: 1124px) {

    .place__info {
        gap: 32px; 
    }
}

@media screen and (max-width: 984px) {

    .place__info {
        gap: 28px;
    }
}

@media screen and (max-width: 744px) {
    .place__info {
        grid-template-columns: repeat(1, 1fr);
        /* grid-template-rows: repeat(2, 1fr);*/
        gap: 32px;
    }
    
}